{% extends 'core/dotpodcast.html' %}
{% load bootstrap3 %}

{% block pre_container %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ _('Welcome') }}</h1>
            <p class="lead">
                {{ _('You&rsquo;re now ready to setup your podcast on the DotPodcast protocol.') }}
            </p>
        </div>
    </div>
{% endblock pre_container %}

{% block main %}
    <form method="post" novalidate>
        {% bootstrap_form form show_label=False %}
        {% csrf_token %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
{% endblock main %}
