{% extends 'base.html' %}
{% load markdown_deux_tags staticfiles %}

{% block main %}
    <header class="dark" style="background-image: url('{% if object.banner_image %}{{ object.banner_image.url }}{% elif podcast.banner_image %}{{ podcast.banner_image.url }}{% else %}{% static 'images/cover.jpg' %}{% endif %}'); height: 100%;" data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50">
        {% include 'header.inc.html' %}

        <div id="post-info" data-stellar-ratio="0.7">
            <h1>{{ object.title }}</h1>

            {% if object.subtitle %}
                <h2>{{ object.subtitle }}</h2>
            {% endif %}

            <a class="site-title" href="{{ podcast.get_home_page_url }}">
                <div class="site-icon-small" style="background-image: url('{% static 'images/icon.png' %}');"></div>
                {{ podcast.name }}
            </a>,
            {{ object.date_published|date }}
        </div>

        <div id="nav-icon" style="bottom: 30px;" data-stellar-ratio="4">
            <a class="scroll" data-speed="500" href="#article"><span class="genericon genericon-expand"></span></a>
        </div>
    </header>

    <div id="middle">
        <div id="article">
            {{ object.body|markdown }}
        </div>
    </div>

    <script src="{% static 'js/smooth-scroll.js' %}"></script>
{% endblock main %}
