ajaxuploader==0.3.8
asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==0.24.0
base58==0.2.5
beautifulsoup4==4.6.0
bitcoin==1.1.42
bitmerchant==0.1.8
cachetools==2.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
commontools==0.1.0
cryptography==1.8.1
Django==1.11.10
git+https://github.com/dotpodcast/django-blockstack-auth.git
git+https://github.com/blockstack/blockstack-auth-python.git
django-bootstrap3==9.1.0
django-datetime-widget==0.9.3
django-markdown-deux==1.0.5
django-rq==1.0.1
django-taggit==0.22.2
dropbox==8.7.1
ecdsa==0.13
enum34==1.1.6
fakeredis==0.9.0
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.19
keychain==0.14.2.0
keylib==0.1.1
lxml==4.6.2
markdown2==2.3.5
msgpack-python==0.5.5
mutagen==1.40.0
packaging==17.1
Pillow==5.0.0
psycopg2-binary==2.7.4
pybitcoin==0.9.9
pycparser==2.18
PyJWT==1.5.0
pyparsing==2.2.0
python-bitcoinrpc==0.1
python-dateutil==2.6.1
pytz==2018.3
redis==2.10.6
requests==2.13.0
rq==0.10.0
six==1.11.0
urllib3==1.22
utilitybelt==0.2.6
