{% extends 'hosting/admin/base.html' %}
{% load i18n %}

{% block main %}
    <h2>
        {% trans 'Delete episode' %}
    </h2>

    <form method="post" class="panel panel-default">
        <div class="panel-body">
            <p>
                {% trans 'Are you sure you want to delete this episode?' %}
            </p>
        </div>

        <footer class="panel-footer">
            <button class="btn btn-danger btn-lg" type="submit">
                {% trans 'Yes' %}
            </button>

            <a class="btn btn-default btn-lg pull-right" href="{% url 'admin_update_episode' object.pk %}">
                {% trans 'No' %}
            </a>

            {% csrf_token %}
        </footer>
    </form>
{% endblock main %}
