{% extends 'hosting/admin/base.html' %}
{% load i18n bootstrap3 %}

{% block main %}
    <form method="post" enctype="multipart/form-data" novalidate>
        <h2>
            {% if form.instance.pk %}
                {% trans 'Update page' %}
            {% else %}
                {% trans 'Create new page' %}
            {% endif %}
        </h2>

        <div class="panel panel-default">
            {% for field, error in form.errors.items %}
                <div class="alert alert-danger">
                    <strong>{{ field }}</strong>: {{ error|join:'<br>' }}
                </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}

            <div class="panel-body">
                {% for field in form.header_fields %}
                    {% bootstrap_field field show_label=False %}
                {% endfor %}

                <div class="form-horizontal">
                    {% for field in form.other_fields %}
                        {% bootstrap_field field layout='horizontal' %}
                    {% endfor %}

                    {% for field in form.file_fields %}
                        {% bootstrap_field field layout='horizontal' %}
                    {% endfor %}
                </div>
            </div>

            <footer class="panel-footer">
                <button type="submit" class="btn btn-success btn-lg">
                    {% trans 'Save' %}
                </button>

                {% if object.pk %}
                    <a class="btn btn-danger btn-lg pull-right" href="{% url 'admin_delete_page' object.pk %}">
                        {% trans 'Delete' %}
                    </a>
                {% endif %}
            </footer>
        </div>

        {% csrf_token %}
    </form>
{% endblock main %}
